body {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
}

.background {
  height: 100%;
  background-color: #000;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 90vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 90);
}

@media screen and (orientation: portrait) {
  .image {
    width: 100%;
    height: unset;
  }
}

.button-row {
  height: 10vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 10);
  max-width: 600px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  z-index: 30;
}

.icon {
  margin-right: 1em;
  fill: #fff;
}

.icon:hover {
  fill: #bb060f;
}
